.forms-compose-list-page {
	padding: 10px;
	background: #F0F0F0;
	margin-bottom: 10px;
	
	&:hover > .forms-compose-edit-title {
		display: inline-block;
	}
	
	> ul > li:last-child .elgg-field {
		margin: 0;
	}
	
	.ui-sortable-placeholder {
		border: 2px dotted #F0F0F0;
		background: transparent;
		visibility: visible !important;
	}
}

.forms-compose-list-section {
	padding: 10px;
	background: #444;
	margin: 10px;

	> .forms-compose-title-container {
		color: #F0F0F0;
	}
	
	> ul {
		padding: 10px;
	}
	
	&:hover > .forms-compose-edit-title {
		display: inline-block;
	} 
}

.forms-compose-add-section {
	margin-left: 10px;
}

.forms-compose-edit-title {
	display: none;
}

.forms-compose-title-container:hover .forms-compose-edit-title {
	display: inline-block;
}

.forms-compose-list-field {
	background: #F0F0F0;
	margin-bottom: 5px;
	padding: 5px;
	
	> .elgg-required-indicator {
		display: none;
	}
	
	&.forms-compose-list-field-required > .elgg-required-indicator {
		display: inline-block;
	}
	
	> .elgg-icon {
		visibility: hidden;
	}
}

.elgg-form-forms-compose .forms-compose-list-field:hover > .elgg-icon {
	visibility: visible;
}

.forms-compose-fields > li {
	background: #f0f0f0;
	margin-bottom: 5px;	
}

.forms-compose-edit-field {
	padding: 10px;
	background: #FFF;
	
	> .elgg-field:last-child {
		margin: 0;
	}
}

.forms-compose-conditional-section {
	background: #e1e1e1;
	margin-top: 5px;
	padding: 10px;
	
	.forms-compose-add-conditional-section {
		display: none;
	}
	
	> .elgg-field > .elgg-field-label {
		font-weight: normal;
		font-size: 100%;
	}
}

.forms-compose-toggle-element {
	cursor: pointer;
	margin-right: 4px;
}

.forms-compose-field-edit,
.forms-compose-delete,
.forms-compose-edit-title {
	cursor: pointer;
	margin-left: 4px;
}

ul .forms-field-unsortable {
	display: none;	
}
ul .forms-field-unsortable:last-child {
	display: block;	
}

.forms-submissions:hover {
	cursor: help;
}
